section{

    background-color: rgba(0, 128, 0, 0.096);
    margin: 15px 500px;
    opacity: 0.85;
    justify-content: center;
    text-align: center;
    background-image: url(./images/BG.jpg);
    color: bisque;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
    