section{

    background-color: rgba(0, 128, 0, 0.096);
    margin: 15px 500px;
    opacity: 0.85;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    background-image: url(./images/BG.jpg);
    color: bisque;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
    
    
}


img{

    display: flex;
}



ul{

    
    
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    justify-content: center

}




.first{

    background-color: green;
    display: flex;
    margin-bottom: 10px;
    
}

.second{

    background-color: green;
    display: flex;
    margin-bottom: 10px;
    
}

.third{

    background-color: green;
    display: flex;
    margin-bottom: 10px;
}

.fourth{

    background-color: green;
    display: flex;
    margin-bottom: 10px;
    
}

.fifth{

    background-color: green;
    display: flex;
    
}

b{

    font-size: larger;
    display: flex;
    font-size: 20px;
    padding-left: 5px;
       
}